[project]
name = "mcp-server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "httpx>=0.28.1",
    "mcp>=1.22.0",
    "uvicorn>=0.30.0",
    "starlette>=0.37.0"
]

[dependency-groups]
dev = [
    "pytest>=9.0.1",
]
